<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Announcement Page</title>
    <link rel="stylesheet" href="/css/sub/announcement.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300italic,400italic,400,100,300,600,700' rel='stylesheet' type='text/css'>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>
<div class="homepage">
<a href="/dashboard">  <p id="home">Back To Dashboard</p></a>
</div>

<div class="information message">
  <h2>Placement Cell</h2>
	<p>ONGC Ltd. will be visiting RGIPT to recruit Students </p>
</div>
<div class="announcement message">
  <h2>Announcement</h2>
	<p>Registrations for B-TECH 3rd Year Summer Interships have begun . Kindly submit your prefrence at Academic Block</p>
</div>
<div class="success message">
  <h2>Training Cell</h2>
	<p>Internships availaiblity at CSIR . Interested Candidates may apply </p>
</div>
<div class="warning message">
  <h2>Suggestions</h2>
	<p>In case of any discrepencies , Kindly give your suggestions in the feedback menu </p>
</div>
<div class="error message">
  <h2>Warning</h2>
	<p>All Students are advised to upload their resumes to the portal .</p>
</div>
  </body>
</html>
