<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Change Your Password</title>
    <link rel="stylesheet" href="/css/sub/changepw.css">
  </head>
  <body>
    <form class="box" action="/dashboard/changepw" method="post">
      <h1>UPDATE YOUR PASSWORD</h1>
      <input type="password" name="currentpass" placeholder="Enter Existing Password" >
      <input type="password" name="newpass" placeholder="Enter New Password">
      <input type="submit" name="" placeholder="UPDATE">
    </form>
  </body>
</html>
