<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Complete Your Profile</title>
    <link rel="stylesheet" href="/css/sub/details.css">
  </head>
  <body>
    <div class="container">

  <h2>Update Your Details<small>Inputs</small></h2>

  <form method="post" action="/dashboard/details" >
<h1>Academic Performance</h1>
    <div class="group">
      <input type="number" name="cpi"required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>CPI (upto last semester )</label>
    </div>
<h1>Skills</h1>
<!-- <section class="container">
<section class="inner">
<div class="tag-field js-tags">
  <input class="js-tag-input" placeholder="Enter new tag..." />
</div>
</section>
</section>
<div class="">
<li>  <input type="checkbox" name="" value="INternship">Intership</li>
</div> -->


<h1>Intership Experience</h1>
    <div class="group">
      <input type="text" name="Internexp"required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Previous Internship Experience</label>
    </div>
    <div class="group">
      <input type="text" name="Internchoice"required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Area of Interest in Internship</label>
    </div>
<div class="group">
  <input type="submit" name="" value="Submit">
  <span class="highlight"></span>
  <span class="bar"></span>
</div>


  </form>

</div>
  </body>
</html>
