<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Complete Your Profile</title>
    <link rel="stylesheet" href="/css/sub/details.css">
  </head>
  <body>
    <div class="container">

  <h1>Update Your Details</h1>

  <form method="post" action="/dashboard/details" >
<h2>Academic Performance</h2>
    <div class="group">
      <input type="text" name="cpi"required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>CPI (upto last semester )</label>
    </div>
<h2>Skills</h2>

<h3>Internship Experience</h3>
    <div class="group">
      <input type="text" name="Internexp"required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Previous Internship Experience</label>
    </div>
    <div class="group">
      <input type="text" name="Internchoice"required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Area of Interest in Internship</label>
    </div>
<div class="group">
  <input type="submit" name="" value="Submit">
  <span class="highlight"></span>
  <span class="bar"></span>
</div>


  </form>

</div>
  </body>
</html>
