<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/sub/downloads.css">
    <title>Download</title>
  </head>
  <body>
    <div class="heading-text">
      <h1>Download Files</h1>
    </div>
<div class="wrapper">
    <div class="btn">

       <a href="placement"><button type="button" name="placement">Placement Brochure</button></a>
        <br><br><br>
        <a href="intern"><button type="button" name="intern">Intern Brochure</button></a>
        <br><br><br>
        <a href="policies"><button type="button" name="policies">Policies</button></a>
        <br><br><br>
        <a href="forms"><button type="button" name="forms">Forms</button></a>
    </div>
    <div class="homepage">
      <a href="/dashboard" id="back">Back To Dashboard</a>
    </div>
</div>
  </body>
</html>
