<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Signup Successfull</title>
    <link rel="stylesheet" href="/css/sub/signupsuccessfull.css">
  </head>
  <body>
<div class="main-container">
  <div class="inner">
  <h1>Signup Successfull</h1>
  <a href="/" class="btn">Back to HomePage</a>
</div>
</div>
  </body>
</html>
