<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Change Your Pic </title>
    <link rel="stylesheet" href="/css/sub/upload.css">
  </head>
  <body>
    <div class="main-container ">
      <div class="heading">
        <h1>Change Your Profile Pic!</h1>
        <%= typeof msg!= 'undefined' ? msg:'' %>
      </div>
      <form class="" action="/dashboard/uploadimg" method="post" enctype="multipart/form-data">
        <div class="form-data">
          <input type="file" name="image" placeholder="Upload Your Profile Pic">

        </div>
        <button type="submit" name="button" class="btn">Submit</button>
      </form>
    <a class="back-link" href="/dashboard">Back to Dashboard</a>
    </div>
  </body>
</html>
