<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
<link rel="stylesheet" href="/css/style.css" type="text/css">

    <title>Homepage</title>
  </head>


  <body>
    <section class="intro">

      <div class="inner">
        <div class="content">
          <div class="logo">
            <img src="https://upload.wikimedia.org/wikipedia/en/9/91/Rajiv_Gandhi_Institute_of_Petroleum_Technology.png" alt="RGIPT LOGO GOES HERE">
          </div>
          <h1>RGIPT   T&P   PORTAL</h1>
          <a class="btn" href="/login"> LOGIN </a>
          <br>
          <br><br><br>
          <a href="/signup" class="btn">SIGNUP</a>
          </div>
      </div>
    </section>
  </body>
</html>
