@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Roboto');

html , body{
  margin:0;
  padding:0;
  height:100%;
  width:100%;
}
.intro{
  height: 100%;
  width: 100%;
  margin: auto;
  background: #192a56;
  display: table;
  top: 0;
  background-size: cover;
  background-position: center center;
}
.intro .inner {
  display: table-cell;
  vertical-align: middle;
  width:100%;
  max-width: none;

}
.content {
  max-width: 700px;
  margin:0 auto;
  text-align:center;

}
.content h1{
  font-family:'Raleway',sans-serif;
  color:#f5f6fa;
  text-shadow:0px 0px 300px #000;
  font-size: 500%;
}
.btn{
  border-radius: 9px;
  font-family: 'Roboto',sans-serif;
  color: #f5f6fa;
  font-size: 135%;
  padding: 10px 20px;
  border : solid #036AB1 3px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: right;
}
.btn:hover{
  color: #fff;
  border: solid #fff 3px;
}

@media screen and (max-width: 768px){
  .content h1 {
    font-size: 250%
  }
  .btn{
    font-size: 110%,
    padding:7px 15px;
  }
  p{
    font-size: 100%;
    line-height: 160%;
  }
}
img{
  width: 200px;
  height: 220px;
}
.transition-fade{
  opacity: 1;
  transition: 0.9s;
  transform-origin: bottom;
}
html.is-animating .transition-fade{
  opacity:0;
}
